<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/db_backup/bootstrap.min.css">

  <title>DB Backup</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SMS</a>
      <a class="navbar-text" href="/frontend/tasks/">Что-то подозрительно интересное</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-text ml-auto">
        <a href="/frontend/profile/">{{ .Username }} [{{ .Group }}]</a>
        <a class="btn btn-sm align-middle btn-outline-secondary btn-danger" type="button" href="/auth/logout">Выйти</a>
      </span>
    </div>
  </nav>

  <div class="container mb-3 mt-3">
    <h1>DB Backup</h1>
    <div class="row">
      <div class="col">
        <div class="list-group" id="list-tab" role="tablist">
          {{ $first := true }}
          {{ range $db := .DBInfos }}
          <a class="list-group-item list-group-item-action {{if $first}}active{{$first = false}}{{ end }} d-flex justify-content-between"
            data-toggle="list" href="#list-{{ $db.Name }}" role="tab">
            <b>{{ $db.Name }}</b>
            <span class="badge {{ if eq $db.Status "Down" }}bg-danger{{ else }}bg-success{{ end }} rounded-pill pt-1">
              {{ $db.Status }}
            </span>
          </a>
          {{ end }}
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          {{ $first := true }}
          {{ range $db := .DBInfos }}
          <div class="tab-pane fade {{ if $first }}show active{{ $first = false }}{{ end }}" id="list-{{ $db.Name }}"
            role="tabpanel">
            <div class=" d-flex justify-content-between mb-2">
              <h3>Резервные копии:</h3>
              {{ if ne $db.Status "Down" }}
              <form>
                <button formaction="/db_backup/{{ $db.Name }}/backup/" formmethod="post" class="btn btn-success mr-3">
                  <b>Сделать копию</b>
                </button>
              </form>
              {{ end }}
            </div>

            <form class="list-group">
              {{ range $backup := $db.Backups }}
              <div class="list-group-item d-flex justify-content-between">
                {{ $backup }}
                <div class="btn-group pt-2">
                  <button formaction="/db_backup/{{ $db.Name }}/restore/" formmethod="post" class="btn btn-primary"
                    name="date" value="{{ $backup }}">
                    <b>Восстановить</b>
                  </button>
                  <button formaction="/db_backup/{{$db.Name}}/delete/" formmethod="post" class="btn btn-danger"
                    name="date" value="{{ $backup }}">
                    <b>Удалить</b>
                  </button>
                </div>
              </div>
              {{ end }}
            </form>

          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>


  <script src="/static/db_backup/popper.min.js"></script>
  <script src="/static/db_backup/bootstrap.min.js"></script>
</body>

</html>